.flex {
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  overflow: hidden;
  color: white;
}

.border {
  background: white;
  width: 100%;
  height: 1px;
}

.heading {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

.heading2 {
  font-size: 2rem;
  line-height: 20px;
  letter-spacing: 1px;
}

.user {
  display: flex;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 5px;
}

.input input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
}

.input textarea {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
  resize: none;
}

.buttonBox {
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.button {
  background: white;
  border: 1px solid white;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
}

.button:hover {
  cursor: pointer;
  background: black;
  color: white;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .flex {
    height: 110vh;
  }
  .box {
    gap: 10px;
  }
  .heading2 {
    font-size: auto;
  }
  .form {
    width: 100%;
  }

  .user {
    display: flex;
    flex-direction: column;
  }

  .input {
    width: 100%;
  }
}
