.container {
  height: 100vh;
  background: black;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.flex {
  position: absolute;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 6%;
  letter-spacing: 4px;
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin-top: 5%;
  animation: fadeInAnimation ease 3s;
}

.item {
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  transform: translateY(-20%);
  animation: eachListItem 1s ease-in-out infinite;
  letter-spacing: 3px;
}

.item:nth-child(2) {
  animation-delay: 0.1s;
}
.item:nth-child(3) {
  animation-delay: 0.2s;
}
.item:nth-child(4) {
  animation-delay: 0.3s;
}
.item:nth-child(5) {
  animation-delay: 0.4s;
}

.item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.imageDiv {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  width: 100%;
}

.image {
  width: 50px;
  transform: rotate(180deg) translateY(-5px);
  margin-right: 1%;
  margin-top: 1%;
  animation: rocket 1s ease infinite, fadeInAnimation ease 3s;
}

@media screen and (min-width: 300px) and (max-width: 479px) {
  .box {
    font-size: 1.4rem;
    gap: 1.5em;
  }
  .lists {
    margin-top: 10%;
  }
  .item {
    font-size: 1.3rem;
  }
  .image {
    width: 30px;
  }
}

@media screen and (max-height: 700px) {
  .image {
    display: none;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes eachListItem {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes rocket {
  0% {
    transform: rotate(180deg) translateY(0);
  }
  50% {
    transform: rotate(180deg) translateY(-5px);
  }
  100% {
    transform: rotate(180deg) translateY(0);
  }
}
